@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    background-color: #f1f1f1;
    margin: 0;
}

.HEADER {
    background-color: #1c1c4f;
    padding: 1rem;
    text-align: center;
}

.HEADER h1 {
    margin: 0;
}

.HEADER a {
    color: #f1f1f1;
    border: 2px solid #f1f1f1;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 1rem;
    display: inline-block;
    padding: 0.4rem 1rem;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.HEADER a:hover {
    color: #1c1c4f;
    background-color: #dcdcdc;
    border-color: #dcdcdc;
}

.HEADER a.active {
    color: #1c1c4f;
    background-color: #f1f1f1;
    border-color: #f1f1f1;
}

.HEADER a.active:hover {
    background-color: #d0d0d0;
    border-color: #d0d0d0;
}

.home1, .home2, .home3 {
    text-align: center;
    padding: 50px 20px;
    color: #1c1c4f;
}

.home1 h1 {
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 100;
}

.home1-1 h1 {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    font-weight: 700;
}

.home2 p {
    max-width: 700px;
    margin: 0 auto;
    font-size: 1.1rem;
}

.home3 h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.home3 ul {
    list-style: none;
    padding: 0;
}

.home3 li {
    font-size: 1.125rem;
    margin: 5px 0;
}

.home-img1 {
    width: 100%;
    max-width: 250px;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
}
