@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    
}

.HEADER {
    background-color: #1c1c4f;
    padding: 1rem;
    text-align: center;
}

.HEADER h1 {
    margin: 0;
}

.HEADER a {
    color: #f1f1f1;
    border: 2px solid #f1f1f1;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 1rem;
    display: inline-block;
    padding: 0.4rem 1rem;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.HEADER a:hover {
    color: #1c1c4f;
    background-color: #dcdcdc;
    border-color: #dcdcdc;
}

.HEADER a.active {
    color: #1c1c4f;
    background-color: #f1f1f1;
    border-color: #f1f1f1;
}

.HEADER a.active:hover {
    background-color: #d0d0d0;
    border-color: #d0d0d0;
}

.support1 {
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
    
}

.support1-1 {
    padding: 0;
    list-style: none;
    color: #1c1c4f;
}

.support1-1 > li { margin: 30px 0; }

.support1-1 > li > strong {
    display: block;
    font-size: 1.3em;
    color: #1c1c4f;
    margin-bottom: 15px;
    
}

.support1-2 {
    border-radius: 8px;
    margin: 10px auto;
    border-style: solid;
    border-color: rgb(88, 88, 88);
    padding: 15px;
    max-width: 600px;
    list-style: disc inside;
}

.support1-2 li {
    line-height: 1.6;
    padding: 8px 0;
    text-align: left;
}